html,
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: rgb(145, 166, 203); */
  background: linear-gradient(
    90deg,
    rgba(158, 189, 241, 0.474) 0%,
    rgba(255, 255, 255, 0.35066526610644255) 95%
  );
}
a {
  text-decoration: none;
  color: white;
}
section {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  /* margin-top: 10px; */
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #5f2eea;
  color: white;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
nav img {
  height: 45px;
}
.section-1 {
  width: 100%;
  height: 100%;
  /* background: rgb(237, 237, 237);
  background: linear-gradient(
    90deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(239, 235, 247, 1) 0%,
    rgba(242, 242, 245, 1) 100%
  ); */
  /* background: rgb(145, 166, 203);
  background: linear-gradient(
    90deg,
    rgba(158, 189, 241, 0.474) 0%,
    rgba(255, 255, 255, 0.35066526610644255) 95%
  ); */
}
.hero {
  display: grid;

  grid-template-columns: 1fr 1fr;

  height: calc(100% - 70px);
  padding: 10px 50px;
}
.hero .left {
  /* background-color: red; */
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 100%;
  height: 100%;
}
.hero .right {
  flex: 1;
  /* background-color: rgb(106, 255, 0); */
  width: 100%;
  height: 100%;
  flex-direction: column;

  justify-content: center;
}
.hero img {
  width: 500px;
}
.hero h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(30, 29, 29);
}
span {
  color: #5f2eea;
}
input {
  border: none;
  background-color: white;

  padding: 10px 20px;
  border-radius: 8px 0 0 8px;
  margin: 0px;
}
.action {
  display: flex;
  align-items: center;
  gap: 0px;
}
.action button {
  border: none;
  background-color: #5f2eea;
  color: white;

  padding: 10px 20px;

  cursor: pointer;
}

.boxes {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  padding: 20px 10px;
}
.box {
  width: 300px;
  background-color: white;
  padding: 49px 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.box .icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.box .icon i {
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: rgb(0, 255, 170);
}
.box p {
  font-size: 15px;
  color: gray;
}
.box:first-child .icon i {
  background-color: red;
}
.box:last-child .icon i {
  background-color: blue;
}

.blue-color {
  background-color: #5f2eea;
  color: white;
}

.items {
  display: grid;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 50px;
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #5f2eea;
  color: white;
}
.items ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  /* margin: 0px; */
}
.item-2 {
  display: flex;
  flex-direction: column;
}
.copyright {
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.items div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav p {
  display: none;
}
@media only screen and (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
  }
  nav ul {
    display: none;
  }
  nav p {
    display: block;
  }
  .hero img {
    width: 300px;
  }
  .hero {
    padding: 10px 20px;
  }
  nav img {
    height: 30px;
  }
  nav {
    padding: 10px 20px;
    border-radius: 0px;
  }
  .items {
    padding: 10px 20px;
    border-radius: 0px;
  }
  .items {
    grid-template-columns: 1fr 1fr;
    border-radius: none;
  }
  .box {
    box-shadow: none;
    padding: 10px 20px;
  }
  .left h1 {
    font-size: 2.3rem;
  }
  .left p {
    font-size: 15px;
  }
  .left {
    padding-bottom: 20px;
  }
}
